@charset "UTF-8";
/*
 * Table of Contents
 *
 * This file collects all of the patials used throughout the website.
 *
 *****************************************************************************/
/*
 * Variables
 *
 * This file collects all of the variables used throughout the website.
 *
 *****************************************************************************/
/*
 * Colors
 *
 *********************************************************/
/*
 * Typography
 *
 *********************************************************/
/*
 * Widths & Breakpoints
 *
 *********************************************************/
/*
 * Easings
 *
 *********************************************************/
/*
 * Functions
 *
 * This file collects all of the functions used throughout the website.
 *
 *****************************************************************************/
/*
 * Native `url(..)` function wrapper
 *
 * @param {String} $base - base URL for the asset
 * @param {String} $type - asset type folder (e.g. `fonts/`)
 * @param {String} $path - asset path
 * @return {Url}
 *
 *********************************************************/
/*
 * Returns URL to an image based on its path
 *
 * @param {String} $path - image path
 * @param {String} $base [$base-url] - base URL
 * @return {Url}
 * @require $base-url
 *
 *********************************************************/
/*
 * Returns URL to a font based on its path
 *
 * @param {String} $path - font path
 * @param {String} $base [$base-url] - base URL
 * @return {Url}
 * @require $base-url
 *
 *********************************************************/
/*
 * Returns Z-index depth
 *
 *********************************************************/
/*
 * Returns font size
 *
 *********************************************************/
/*
 * Mixins
 *
 * This file collects all of the mixins used throughout the website.
 *
 *****************************************************************************/
/*
 * Event wrapper
 *
 * @param {Bool} $self [false] - Whether or not to include
 current selector
 *
 *********************************************************/
/*
 * Make a context based selector a little more friendly
 *
 * @param {String} $context
 *
 *********************************************************/
/*
 * Make certain fonts render sharper on OSX
 *
 *********************************************************/
/*
 * Clearfix
 *
 *********************************************************/
/*
 * Maintain aspect ratio on divs with background images
 (mimic native image scaling)
 *
 * @include responsive-ratio(16,9);
 *
 *********************************************************/
/*
 * Background opacity with fallback for older browsers
 *
 *********************************************************/
/*
 * Create a transparent overlay
 *
 *********************************************************/
/*
 * Visually hide element
 *
 *********************************************************/
/*
 * Visually show element
 *
 *********************************************************/
/*
 * Create background image that centers & covers parent
 container
 *
 *********************************************************/
/*
 * Add common rules to pseudo elements
 *
 *********************************************************/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*! Flickity v2.0.10
http://flickity.metafizzy.co
<<<<<<< HEAD
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

/*
 * Base Syles
 *
 * This file contains very basic styles.
 *
 *****************************************************************************/
html {
  box-sizing: border-box;
  font-size: 100%; }

body {
  margin: 0; }

/*
 * Make all elements from the DOM inherit from the parent box-sizing
 Since `*` has a specificity of 0, it does not override the `html` value
 making all elements inheriting from the root box-sizing value
 *
 *********************************************************/
*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin: 0 0 1rem 0;
  padding: 0; }

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  list-style-position: inside;
  padding-left: 1rem; }

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  font: normal 400 1rem "univers-lt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
  input[type='color']:focus,
  input[type='date']:focus,
  input[type='datetime']:focus,
  input[type='datetime-local']:focus,
  input[type='email']:focus,
  input[type='month']:focus,
  input[type='number']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='text']:focus,
  input[type='time']:focus,
  input[type='url']:focus,
  input[type='week']:focus,
  input:not([type]):focus,
  textarea:focus {
    outline: 0; }
  input[type='color']:required,
  input[type='date']:required,
  input[type='datetime']:required,
  input[type='datetime-local']:required,
  input[type='email']:required,
  input[type='month']:required,
  input[type='number']:required,
  input[type='password']:required,
  input[type='search']:required,
  input[type='tel']:required,
  input[type='text']:required,
  input[type='time']:required,
  input[type='url']:required,
  input[type='week']:required,
  input:not([type]):required,
  textarea:required {
    box-shadow: none; }

textarea {
  resize: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  position: relative; }
  button:active, button:focus,
  [type='button']:active,
  [type='button']:focus,
  [type='reset']:active,
  [type='reset']:focus,
  [type='submit']:active,
  [type='submit']:focus {
    outline: 0; }

::-webkit-input-placeholder {
  color: #000;
  opacity: 1 !important; }

:-moz-placeholder {
  color: #000;
  opacity: 1 !important; }

::-moz-placeholder {
  color: #000;
  opacity: 1 !important; }

:-ms-input-placeholder {
  color: #000; }

strong,
b {
  font-weight: 700; }

em,
i {
  font-style: italic; }

hr {
  background-color: #000;
  border: 0;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0; }

/*
 * Webfonts
 *
 * This file contains all @font-face declarations, if any.
 *
 *****************************************************************************/
@font-face {
  font-family: 'press_gothicregular';
  src: url("../webfonts/pressgothic-webfont.woff2") format("woff2"), url("../webfonts/pressgothic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'galano_grotesque_demobold';
  src: url("../webfonts/galanogrotesquedemo-bold-webfont.woff2") format("woff2"), url("../webfonts/galanogrotesquedemo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'univers-lt';
  src: url("../webfonts/univers-lt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'univers-lt-black';
  src: url("../webfonts/univers-lt-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
 * Typography
 *
 * This file collects some basic typography styles for copy text.
 *
 *****************************************************************************/
body {
  font-size: 1rem;
  font-size: 100%;
  color: #565656;
  font-family: "univers-lt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  line-height: 1.75; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "univers-lt-black", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1rem;
  text-transform: uppercase; }

h1,
.disable-responsive-font-size h1, h1.disable-responsive-font-size {
  font-size: 4.3rem; }

@media (max-width: 90em) {
  h1 {
    font-size: calc(1.66rem + 2.9333333333vw) ; } }

h2,
.disable-responsive-font-size h2, h2.disable-responsive-font-size {
  font-size: 2.986rem; }

@media (max-width: 90em) {
  h2 {
    font-size: calc(1.3972rem + 1.7653333333vw) ; } }

h3,
.disable-responsive-font-size h3, h3.disable-responsive-font-size {
  font-size: 2.074rem; }

@media (max-width: 90em) {
  h3 {
    font-size: calc(1.2148rem + 0.9546666667vw) ; } }

h4,
.disable-responsive-font-size h4, h4.disable-responsive-font-size {
  font-size: 1.728rem; }

@media (max-width: 90em) {
  h4 {
    font-size: calc(1.1456rem + 0.6471111111vw) ; } }

h5,
.disable-responsive-font-size h5, h5.disable-responsive-font-size {
  font-size: 1.2rem; }

@media (max-width: 90em) {
  h5 {
    font-size: calc(1.04rem + 0.1777777778vw) ; } }

h6 {
  font-size: 0.833rem; }

p {
  margin-bottom: 1rem; }

.link-item {
  font-size: 0.694rem;
  font-family: "galano_grotesque_demobold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  transition: color 300ms; }
  .link-item a {
    color: #fff; }

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out; }
  a:hover, a:active, a:focus {
    color: #807f7f; }

/*
 * Helper Classes
 *
 * This file contains CSS helper classes.
 *
 *****************************************************************************/
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.content-center {
  display: table;
  height: 100%;
  width: 100%; }

.content-center-inner {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle; }

@media (min-width: 48em) {
  .list-2-col {
    column-count: 2;
    column-gap: 30px; } }

/*
 * General Container Elements
 *
 * This file contains the site top-level and general wrapper elements.
 *
 *****************************************************************************/
.smooth-scroll {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scroll-behavior: smooth; }

.texture {
  background-image: url("../images/ui/texture.png"); }

.content-block .two-col {
  display: flex;
  flex-direction: column;
  margin: 60px 0; }
  @media only screen and (min-width: 40em) {
    .content-block .two-col {
      flex-direction: row;
      justify-content: center; } }

/* ###
#
# VUE TRANSITIONS
#
### */
.slide-change-enter-active {
  transition: all .6s ease; }

.slide-change-leave-active {
  transition: all .3s ease; }

.slide-change-enter {
  transform: translateX(-30px);
  opacity: 0 !important; }

.slide-change-leave-to {
  transform: translateX(30px);
  opacity: 0 !important; }

.text-change-enter-active {
  transition: all 600ms 300ms ease; }

.text-change-leave-active {
  transition: all 300ms 150ms ease; }

.text-change-enter {
  transform: translateY(30px);
  opacity: 0 !important; }

.text-change-leave-to {
  transform: translateY(-30px);
  opacity: 0 !important; }

.slide-brew-enter-active, .slide-brew-leave-active {
  position: relative;
  transition: all 300ms 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .slide-brew-enter-active:before, .slide-brew-leave-active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c3a777;
    transition: transform .6s ease;
    transform-origin: 0 0;
    transform: scale(0, 1); }

.slide-brew-leave-active {
  transition: all 300ms 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .slide-brew-leave-active:before {
    transform-origin: 100% 0; }

.slide-brew-enter:before {
  transform: scale(1, 1); }

.slide-brew-leave-to:before {
  transform: scale(1, 1); }

/*
 * General Container Elements
 *
 * This file contains the site grid wrapper elements. These classes utilize
 Bourbon's Neat grid.
 *
 *****************************************************************************/
.container {
  margin: 0 auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  .container.small-width {
    max-width: 40em; }
  .container.medium-width {
    max-width: 48em; }
  .container.large-width {
    max-width: 62em; }
  .container.xlarge-width {
    max-width: 90em; }
  .container.fluid {
    max-width: none; }

.row::after {
  clear: both;
  content: '';
  display: table; }

/***
.selector {
    @include grid-column(12, $grid);
    @include grid-media($grid-small) {
        @include grid-column(6);
    }
    @include grid-media($grid-large) {
        @include grid-column(3);
    }
}
***/
/*
 * Site Header
 *
 * This file contains styles that are specific to the site header.
 *
 *****************************************************************************/
.hero {
  background-color: #565656;
  color: #fff; }
  .hero nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33); }
    .hero nav .nav-item {
      padding: 7.5px 30px; }
      .hero nav .nav-item.nav-logo {
        margin-right: auto; }
        .hero nav .nav-item.nav-logo img {
          width: 100px; }
      .hero nav .nav-item.nav-solid {
        transition: .2s all ease-in-out;
        border: 1px solid transparent;
        box-shadow: inset 200px 0px #c3a777; }
        .hero nav .nav-item.nav-solid:hover {
          border: 1px solid #fff;
          box-shadow: inset 0px 0px #c3a777; }
          .hero nav .nav-item.nav-solid:hover a {
            color: #c3a777; }
  .hero-content {
    display: flex;
    align-items: center; }

.link-item a {
  transition: all .3s ease-out; }
  .link-item a:hover {
    color: #c3a777; }

.hero-content-slider-cell img {
  height: 350px;
  object-fit: cover;
  object-position: center center; }

.hero-content-slider-ctrl {
  display: flex;
  justify-content: space-around; }
  .hero-content-slider-ctrl div {
    padding: 30px 15px 0 15px; }
    .hero-content-slider-ctrl div:hover {
      color: #c3a777; }

a[id="floorplan"]:target ~ .page-content div.section {
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

/*
 * Site Footer
 *
 * This file contains styles that are specific to the site footer.
 *
 *****************************************************************************/
.pre-footer {
  background-color: #566667;
  background-image: url("../images/ui/otto-pattern.svg");
  background-size: 10vw; }
  .pre-footer-content {
    background-color: #566667; }
    .pre-footer-content img {
      padding: 60px 30px; }

.footer {
  background-color: #565656;
  color: #fff; }
  .footer .container .content-block {
    width: calc(100% - 60px);
    float: left;
    margin-left: 30px; }
    @media only screen and (min-width: 40em) {
      .footer .container .content-block {
        width: calc(50% - 7.5%);
        float: left;
        margin-left: 5%; } }
    @media only screen and (min-width: 62em) {
      .footer .container .content-block {
        width: calc(33.3333333333% - 6.6666666667%);
        float: left;
        margin-left: 5%; } }
    .footer .container .content-block:first-child {
      margin-bottom: 30px; }
      @media only screen and (min-width: 40em) {
        .footer .container .content-block:first-child {
          width: calc(100% - 10%);
          float: left;
          margin-left: 5%; } }
      @media only screen and (min-width: 62em) {
        .footer .container .content-block:first-child {
          width: calc(33.3333333333% - 6.6666666667%);
          float: left;
          margin-left: 5%; } }
      .footer .container .content-block:first-child img {
        max-width: 260px;
        margin-bottom: 30px; }
    .footer .container .content-block:last-child .btn {
      position: relative;
      margin-bottom: 15px; }
      .footer .container .content-block:last-child .btn:after {
        content: '';
        position: absolute;
        width: 33%;
        height: 1px;
        bottom: 0;
        background-color: #fff; }
    .footer .container .content-block .btn a {
      color: #fff; }
    .footer .container .content-block .footer-social {
      margin: 30px 0;
      font-family: "galano_grotesque_demobold", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
      .footer .container .content-block .footer-social a {
        font-size: 0.694rem;
        color: #fff;
        letter-spacing: 0.15em;
        text-transform: uppercase; }
    .footer .container .content-block svg {
      width: 140px; }

/*
 * Buttons
 *
 * This file contains all styles related to the button component.
 *
 *****************************************************************************/
.btn {
  position: relative; }
  .btn a {
    position: relative;
    display: block;
    width: 100%;
    font-family: "galano_grotesque_demobold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.833rem;
    color: #565656;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    transform: translate(30px);
    transition: all 500ms 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .btn a:before {
      content: '→';
      position: absolute;
      color: inherit;
      transform: translate(-30px);
      transition: all 300ms 100ms cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .btn a:hover {
      transform: translate(0px); }
      .btn a:hover:before {
        opacity: 0;
        transform: translate(0px); }

@media only screen and (min-width: 40em) {
  .image-breakout:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #c9c6b1;
    background-image: url("../images/ui/texture.png");
    transform: translate(-30px, -30px); }
  .image-breakout img {
    position: relative;
    width: 70%;
    z-index: 10; } }

@media only screen and (min-width: 40em) {
  .image-breakout-alt-wrap {
    position: relative;
    text-align: right;
    line-height: 0; }
    .image-breakout-alt-wrap:before {
      content: '';
      position: absolute;
      width: 180px;
      height: 180px;
      bottom: 0;
      right: 0;
      background-color: #c9c6b1;
      background-image: url("../images/ui/texture.png");
      transform: translate(30px, 30px); }
    .image-breakout-alt-wrap img {
      position: relative;
      z-index: 10; } }

/*
 * General Content Block
 *
 * This file styles general content blocks that are nested within a container.
 *
 *****************************************************************************/
.content-block {
  width: calc(100% - 60px);
  float: left;
  margin-left: 30px; }
  @media only screen and (min-width: 40em) {
    .content-block {
      width: calc(100% - 10%);
      float: left;
      margin-left: 5%; } }

/*
 * Homepage
 *
 * This file contains styles that are specific to the home page.
 *
 *****************************************************************************/
.intro-text {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.intro-copy {
  background-color: #e8e7d1; }
  .intro-copy h4 {
    position: relative;
    z-index: 5; }
  .intro-copy-stamp {
    position: absolute;
    width: 60px;
    transform: translate(30px, -39.9px);
    z-index: 0; }
  .intro-copy-mark {
    position: relative;
    width: 100%;
    text-align: center; }
    @media only screen and (min-width: 40em) {
      .intro-copy-mark {
        text-align: right; } }
    .intro-copy-mark img {
      position: absolute;
      width: 32px;
      transform: translate(-16px, -50%); }

.intro-collage {
  background-color: #fff;
  margin-top: 60px; }
  @media only screen and (min-width: 40em) {
    .intro-collage {
      margin: 0; } }
  .intro-collage-row {
    display: block; }
    @media only screen and (min-width: 40em) {
      .intro-collage-row {
        margin: 60px 0 60px 0; } }
    .intro-collage-row img {
      min-width: 340px; }
  .intro-collage-img {
    width: calc(100% - 60px);
    float: left;
    margin-left: 30px; }
    @media only screen and (min-width: 40em) {
      .intro-collage-img {
        width: calc(50% - 7.5%);
        float: left;
        margin-left: 5%; } }
    @media only screen and (min-width: 40em) {
      .intro-collage-img #intro-1 {
        transform: translate(-30px, -120px); } }
    @media only screen and (min-width: 40em) {
      .intro-collage-img #intro-2 {
        transform-origin: left bottom;
        transform: scale(1.25); } }
    @media only screen and (min-width: 40em) {
      .intro-collage-img .image-breakout-alt-wrap:before {
        left: 0;
        transform: translate(-30px, 30px); } }
  @media only screen and (min-width: 40em) {
    .intro-collage #intro-3 {
      transform: translate(120px, 0); } }

.amenities-main .container {
  background-color: #c3a777; }

.amenities-main .row {
  display: flex;
  flex-direction: column; }
  .amenities-main .row:first-child {
    flex-direction: column-reverse; }
  @media only screen and (min-width: 40em) {
    .amenities-main .row {
      flex-direction: row !important; } }

.amenities-main-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: inherit 30px;
  color: #fff; }
  @media only screen and (min-width: 40em) {
    .amenities-main-list {
      width: 50%; } }
  .amenities-main-list ul {
    margin: 60px 0;
    padding: 0;
    list-style: none; }

.amenities-main-image {
  width: 100%;
  min-height: 550px;
  margin-left: 0;
  background-position: center center;
  background-size: cover; }
  @media only screen and (min-width: 40em) {
    .amenities-main-image {
      width: 50%; } }
  .amenities-main-image#amenity-image-1 {
    background-image: url("../images/assets/otto-amenity-bed.jpg"); }
  .amenities-main-image#amenity-image-2 {
    background-image: url("../images/assets/otto-amenity-bed.jpg"); }

.floorplan {
  background-color: #e6e5e5; }

.fp-app {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media only screen and (min-width: 62em) {
    .fp-app {
      flex-direction: row; } }
  .fp-app-sidebar {
    width: calc(100% - 60px);
    float: left;
    margin-left: 30px;
    display: inline;
    margin: 0 30px 60px 30px;
    border-top: 1px solid #565656; }
    @media only screen and (min-width: 40em) {
      .fp-app-sidebar {
        width: calc(50% - 7.5%);
        float: left;
        margin-left: 5%;
        margin-left: calc(25% - 6.25% + 10%); } }
    @media only screen and (min-width: 62em) {
      .fp-app-sidebar {
        width: calc(41.6666666667% - 7.0833333333%);
        float: left;
        margin-left: 5%; } }
    @media only screen and (min-width: 75em) {
      .fp-app-sidebar {
        width: calc(25% - 6.25%);
        float: left;
        margin-left: 5%; } }
    .fp-app-sidebar-item {
      padding: 15px 30px;
      border-left: 1px solid #565656;
      border-right: 1px solid #565656;
      border-bottom: 1px solid #565656;
      transition: all 300ms ease;
      cursor: pointer; }
      .fp-app-sidebar-item:hover, .fp-app-sidebar-item:focus {
        background-color: white; }
      .fp-app-sidebar-item h5 {
        margin: 0; }
    .fp-app-sidebar a {
      color: #565656; }
  .fp-app-content {
    display: flex;
    flex-direction: column;
    padding: 60px 0 30px 0;
    background-color: #fff; }
    @media only screen and (min-width: 48em) {
      .fp-app-content {
        flex-direction: row; } }
    .fp-app-content-floorplan {
      width: calc(100% - 60px);
      float: left;
      margin-left: 30px; }
      @media only screen and (min-width: 48em) {
        .fp-app-content-floorplan {
          width: calc(50% - 45px);
          float: left;
          margin-left: 30px; } }
    .fp-app-content-copy {
      width: calc(100% - 60px);
      float: left;
      margin-left: 30px; }
      @media only screen and (min-width: 48em) {
        .fp-app-content-copy {
          width: calc(50% - 45px);
          float: left;
          margin-left: 30px; } }
      .fp-app-content-copy a {
        color: #c3a777; }

.story-row {
  display: flex;
  flex-direction: column;
  margin-top: 6rem; }
  @media only screen and (min-width: 40em) {
    .story-row {
      flex-direction: row; } }
  @media only screen and (min-width: 40em) {
    .story-row:last-child {
      flex-direction: row-reverse; } }

.story-img {
  width: 100%;
  margin-bottom: 30px; }
  @media only screen and (min-width: 40em) {
    .story-img {
      width: 50%; } }

.story-entry {
  padding: 0 30px; }
  @media only screen and (min-width: 40em) {
    .story-entry {
      width: 50%; } }
  .story-entry h5 {
    padding: 30px 0; }
  .story-entry-logo {
    width: 140px;
    margin: 30px 0; }

.location-main {
  background-color: #e6e5e5; }
  .location-main .content-block {
    position: relative; }
    .location-main .content-block h2 {
      position: relative;
      z-index: 10; }
      @media only screen and (min-width: 40em) {
        .location-main .content-block h2 {
          margin-bottom: 6rem; } }
    @media only screen and (min-width: 40em) {
      .location-main .content-block img {
        width: calc(50% - 45px);
        float: left;
        margin-left: 30px;
        margin-left: calc(50% - 7.5% + 10%);
        position: absolute;
        top: 0; } }
  .location-main-body {
    width: calc(100% - 60px);
    float: left;
    margin-left: 30px;
    position: relative;
    z-index: 10; }
    @media only screen and (min-width: 40em) {
      .location-main-body {
        width: calc(50% - 7.5%);
        float: left;
        margin-left: 5%; } }
    .location-main-body span {
      font-weight: 700; }

.location-sub .container .location-sub-item {
  width: calc(100% - 60px);
  float: left;
  margin-left: 30px;
  margin-top: 30px; }
  @media only screen and (min-width: 40em) {
    .location-sub .container .location-sub-item {
      width: calc(50% - 7.5%);
      float: left;
      margin-left: 5%; } }

.location-sub ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  list-style-position: inside; }
  .location-sub ul span {
    font-weight: 700; }

.location-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden; }
  .location-slider-cell {
    height: 450px;
    background-position: center center;
    background-size: cover; }
    .location-slider-cell:first-child {
      width: 1000px; }
    .location-slider-cell:last-child {
      width: 200px; }
  .location-slider-controls {
    padding: 0 30px; }

.plan-title {
  position: relative;
  z-index: -1; }
  .plan-title h1 {
    color: #e6e5e5;
    font-size: 9vw;
    margin-bottom: -2.143vw; }

.plan-main {
  background-color: #565656;
  color: #fff; }

.plan-slider-title {
  position: relative;
  width: 50%;
  height: 3.33em;
  color: #c3a777;
  z-index: 10; }

.plan-slider-content > div {
  position: relative;
  min-height: 90px; }
  @media only screen and (min-width: 40em) {
    .plan-slider-content > div {
      height: 300px; } }

.plan-slider-content-count {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 40em) {
    .plan-slider-content-count {
      width: calc(8.3333333333% - 5.4166666667%);
      float: left;
      margin-left: 5%; } }
  .plan-slider-content-count h6 {
    position: absolute;
    bottom: 0; }

.plan-slider-content-img {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 40em) {
    .plan-slider-content-img {
      width: calc(58.3333333333% - 7.9166666667%);
      float: left;
      margin-left: 5%; } }
  .plan-slider-content-img img {
    width: 100%;
    object-fit: cover;
    object-position: center center; }

.plan-slider-content-copy {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  position: relative; }
  @media only screen and (min-width: 40em) {
    .plan-slider-content-copy {
      width: calc(33.3333333333% - 6.6666666667%);
      float: left;
      margin-left: 5%; } }
  .plan-slider-content-copy div {
    position: absolute;
    display: inline-block;
    bottom: -30px; }
    @media only screen and (min-width: 40em) {
      .plan-slider-content-copy div {
        bottom: 0; } }
    .plan-slider-content-copy div span {
      margin-right: 15px;
      padding: 5px;
      cursor: pointer; }
      .plan-slider-content-copy div span:last-child img {
        transform: rotate(180deg); }
      .plan-slider-content-copy div span img {
        width: 20px; }

/*
 * Homepage
 *
 * This file contains styles that are specific to the 404 page.
 *
 *****************************************************************************/
=======
---------------------------------------------- */.flickity-enabled{position:relative}.flickity-enabled:focus{outline:none}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:white;background:rgba(255,255,255,0.75);cursor:pointer;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.flickity-prev-next-button:hover{background:white}.flickity-prev-next-button:focus{outline:none;box-shadow:0 0 0 5px #09F}.flickity-prev-next-button:active{opacity:0.6}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button:disabled{opacity:0.3;cursor:auto}.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-prev-next-button .arrow{fill:#333}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:0.25;cursor:pointer}.flickity-page-dots .dot.is-selected{opacity:1}html{box-sizing:border-box;font-size:100%}body{margin:0}*,*::before,*::after{box-sizing:inherit}a{text-decoration:none}img{border:0;height:auto;max-width:100%}p,ul,ol,pre,table,blockquote{margin:0 0 1rem 0;padding:0}ul ul,ol ol,ul ol,ol ul{margin-top:0;margin-bottom:0}ul,ol{list-style-position:inside;padding-left:1rem}input[type='color'],input[type='date'],input[type='datetime'],input[type='datetime-local'],input[type='email'],input[type='month'],input[type='number'],input[type='password'],input[type='search'],input[type='tel'],input[type='text'],input[type='time'],input[type='url'],input[type='week'],input:not([type]),textarea{background:transparent;border:1px solid transparent;border-radius:0;font:normal 400 1rem "univers-lt","Helvetica Neue","Helvetica","Arial",sans-serif;-webkit-appearance:none;-webkit-border-radius:0}input[type='color']:focus,input[type='date']:focus,input[type='datetime']:focus,input[type='datetime-local']:focus,input[type='email']:focus,input[type='month']:focus,input[type='number']:focus,input[type='password']:focus,input[type='search']:focus,input[type='tel']:focus,input[type='text']:focus,input[type='time']:focus,input[type='url']:focus,input[type='week']:focus,input:not([type]):focus,textarea:focus{outline:0}input[type='color']:required,input[type='date']:required,input[type='datetime']:required,input[type='datetime-local']:required,input[type='email']:required,input[type='month']:required,input[type='number']:required,input[type='password']:required,input[type='search']:required,input[type='tel']:required,input[type='text']:required,input[type='time']:required,input[type='url']:required,input[type='week']:required,input:not([type]):required,textarea:required{box-shadow:none}textarea{resize:none}button,[type='button'],[type='reset'],[type='submit']{background-color:#fff;color:#000;cursor:pointer;display:inline-block;padding:1rem;position:relative}button:active,button:focus,[type='button']:active,[type='button']:focus,[type='reset']:active,[type='reset']:focus,[type='submit']:active,[type='submit']:focus{outline:0}::-webkit-input-placeholder{color:#000;opacity:1 !important}:-moz-placeholder{color:#000;opacity:1 !important}::-moz-placeholder{color:#000;opacity:1 !important}:-ms-input-placeholder{color:#000}strong,b{font-weight:700}em,i{font-style:italic}hr{background-color:#000;border:0;display:block;height:1px;margin:0;padding:0}@font-face{font-family:'press_gothicregular';src:url("../webfonts/pressgothic-webfont.woff2") format("woff2"),url("../webfonts/pressgothic-webfont.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'galano_grotesque_demobold';src:url("../webfonts/galanogrotesquedemo-bold-webfont.woff2") format("woff2"),url("../webfonts/galanogrotesquedemo-bold-webfont.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'univers-lt';src:url("../webfonts/univers-lt.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'univers-lt-black';src:url("../webfonts/univers-lt-black.woff") format("woff");font-weight:normal;font-style:normal}body{font-size:1rem;font-size:100%;color:#565656;font-family:"univers-lt","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:400;letter-spacing:.0625rem;line-height:1.75}h1,h2,h3,h4,h5,h6{font-family:"univers-lt-black","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:700;line-height:1.2;margin:0 0 1rem;text-transform:uppercase}h1,.disable-responsive-font-size h1,h1.disable-responsive-font-size{font-size:4.3rem}@media (max-width: 90em){h1{font-size:calc(1.66rem + 2.9333333333vw) }}h2,.disable-responsive-font-size h2,h2.disable-responsive-font-size{font-size:2.986rem}@media (max-width: 90em){h2{font-size:calc(1.3972rem + 1.7653333333vw) }}h3,.disable-responsive-font-size h3,h3.disable-responsive-font-size{font-size:2.074rem}@media (max-width: 90em){h3{font-size:calc(1.2148rem + .9546666667vw) }}h4,.disable-responsive-font-size h4,h4.disable-responsive-font-size{font-size:1.728rem}@media (max-width: 90em){h4{font-size:calc(1.1456rem + .6471111111vw) }}h5,.disable-responsive-font-size h5,h5.disable-responsive-font-size{font-size:1.2rem}@media (max-width: 90em){h5{font-size:calc(1.04rem + .1777777778vw) }}h6{font-size:.833rem}p{margin-bottom:1rem}.link-item{font-size:.694rem;font-family:"galano_grotesque_demobold","Helvetica Neue","Helvetica","Arial",sans-serif;color:#fff;cursor:pointer;text-transform:uppercase;letter-spacing:0.15em;transition:color 300ms}.link-item a{color:#fff}a{text-decoration:none;transition:color 0.2s ease-in-out}a:hover,a:active,a:focus{color:#807f7f}.clearfix::after{clear:both;content:'';display:table}.hide-text{overflow:hidden;text-indent:101%;white-space:nowrap}.visually-hidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.text-left{text-align:left}.text-center{text-align:center}.text-right{text-align:right}.content-center{display:table;height:100%;width:100%}.content-center-inner{display:table-cell;height:100%;width:100%;vertical-align:middle}@media (min-width: 48em){.list-2-col{column-count:2;column-gap:30px}}.smooth-scroll{position:absolute;width:100%;height:100vh;top:0;left:0;overflow-y:scroll;scroll-behavior:smooth}.texture{background-image:url("../images/ui/texture.png")}.content-block .two-col{display:flex;flex-direction:column;margin:60px 0}@media only screen and (min-width: 40em){.content-block .two-col{flex-direction:row;justify-content:center}}.slide-change-enter-active{transition:all .6s ease}.slide-change-leave-active{transition:all .3s ease}.slide-change-enter{transform:translateX(-30px);opacity:0 !important}.slide-change-leave-to{transform:translateX(30px);opacity:0 !important}.fade-enter-active{transform-origin:left 10%;opacity:1;transition:all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86)}.fade-leave-active{opacity:1;transition:all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86)}.fade-enter{transform:rotate(5deg) translateY(30px);opacity:0 !important}.fade-leave-to{transform:rotate(-2.55deg) translateY(-30px);opacity:0 !important}.text-change-enter-active{transition:all 600ms 300ms ease}.text-change-leave-active{transition:all 300ms 150ms ease}.text-change-enter{transform:translateY(30px);opacity:0 !important}.text-change-leave-to{transform:translateY(-30px);opacity:0 !important}.slide-brew-enter-active,.slide-brew-leave-active{position:relative;transition:all 300ms 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86)}.slide-brew-enter-active:before,.slide-brew-leave-active:before{content:'';position:absolute;width:100%;height:100%;background-color:#c3a777;transition:transform .6s ease;transform-origin:0 0;transform:scale(0, 1)}.slide-brew-leave-active{transition:all 300ms 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86)}.slide-brew-leave-active:before{transform-origin:100% 0}.slide-brew-enter:before{transform:scale(1, 1)}.slide-brew-leave-to:before{transform:scale(1, 1)}.container{margin:0 auto}.container::after{clear:both;content:"";display:block}.container.small-width{max-width:40em}.container.medium-width{max-width:48em}.container.large-width{max-width:62em}.container.xlarge-width{max-width:90em}.container.fluid{max-width:none}.row::after{clear:both;content:'';display:table}.hero{background-color:#565656;color:#fff}.hero nav{display:flex;justify-content:flex-end;align-items:center;padding:30px 0;border-bottom:1px solid rgba(255,255,255,0.33)}.hero nav .nav-item{padding:7.5px 30px}.hero nav .nav-item.nav-logo{margin-right:auto}.hero nav .nav-item.nav-logo img{width:100px}.hero nav .nav-item.nav-solid{background-color:#c3a777}.hero-content{display:flex;align-items:center}.hero-content-slider-cell img{height:350px;object-fit:cover;object-position:center center}.hero-content-slider-ctrl{display:flex;justify-content:space-around}.hero-content-slider-ctrl div{padding:30px 15px 0 15px}.hero-content-slider-ctrl div:hover{color:#c3a777}a[id="floorplan"]:target ~ .page-content div.section{-webkit-transform:translateY(0px);transform:translateY(0px)}.pre-footer{background-color:#566667;background-image:url("../images/ui/otto-pattern.svg");background-size:10vw}.pre-footer-content{background-color:#566667}.pre-footer-content img{padding:60px 30px}.footer{background-color:#565656;color:#fff}.footer .container .content-block{width:calc(100% - 60px);float:left;margin-left:30px}@media only screen and (min-width: 40em){.footer .container .content-block{width:calc(50% - 7.5%);float:left;margin-left:5%}}@media only screen and (min-width: 62em){.footer .container .content-block{width:calc(33.3333333333% - 6.6666666667%);float:left;margin-left:5%}}.footer .container .content-block:first-child{margin-bottom:30px}@media only screen and (min-width: 40em){.footer .container .content-block:first-child{width:calc(100% - 10%);float:left;margin-left:5%}}@media only screen and (min-width: 62em){.footer .container .content-block:first-child{width:calc(33.3333333333% - 6.6666666667%);float:left;margin-left:5%}}.footer .container .content-block:first-child img{max-width:260px;margin-bottom:30px}.footer .container .content-block:last-child .btn{position:relative;margin-bottom:15px}.footer .container .content-block:last-child .btn:after{content:'';position:absolute;width:33%;height:1px;bottom:0;background-color:#fff}.footer .container .content-block .btn a{color:#fff}.footer .container .content-block .footer-social{margin:30px 0;font-family:"galano_grotesque_demobold","Helvetica Neue","Helvetica","Arial",sans-serif}.footer .container .content-block .footer-social a{font-size:.694rem;color:#fff;letter-spacing:0.15em;text-transform:uppercase}.footer .container .content-block svg{width:140px}.btn{position:relative}.btn a{position:relative;display:block;width:100%;font-family:"galano_grotesque_demobold","Helvetica Neue","Helvetica","Arial",sans-serif;font-size:.833rem;color:#565656;text-transform:uppercase;letter-spacing:0.12em;transform:translate(30px);transition:all 500ms 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86)}.btn a:before{content:'→';position:absolute;color:inherit;transform:translate(-30px);transition:all 300ms 100ms cubic-bezier(0.6, 0.04, 0.98, 0.335)}.btn a:hover{transform:translate(0px)}.btn a:hover:before{opacity:0;transform:translate(0px)}@media only screen and (min-width: 40em){.image-breakout:before{content:'';position:absolute;width:180px;height:180px;background-color:#c9c6b1;background-image:url("../images/ui/texture.png");transform:translate(-30px, -30px)}.image-breakout img{position:relative;width:70%;z-index:10}}@media only screen and (min-width: 40em){.image-breakout-alt-wrap{position:relative;text-align:right;line-height:0}.image-breakout-alt-wrap:before{content:'';position:absolute;width:180px;height:180px;bottom:0;right:0;background-color:#c9c6b1;background-image:url("../images/ui/texture.png");transform:translate(30px, 30px)}.image-breakout-alt-wrap img{position:relative;z-index:10}}.content-block{width:calc(100% - 60px);float:left;margin-left:30px}@media only screen and (min-width: 40em){.content-block{width:calc(100% - 10%);float:left;margin-left:5%}}.intro-text{padding-top:6rem;padding-bottom:6rem}.intro-copy{background-color:#e8e7d1}.intro-copy h4{position:relative;z-index:5}.intro-copy-stamp{position:absolute;width:60px;transform:translate(30px, -39.9px);z-index:0}.intro-copy-mark{position:relative;width:100%;text-align:center}@media only screen and (min-width: 40em){.intro-copy-mark{text-align:right}}.intro-copy-mark img{position:absolute;width:32px;transform:translate(-16px, -50%)}.intro-collage{background-color:#fff;margin-top:60px}@media only screen and (min-width: 40em){.intro-collage{margin:0}}.intro-collage-row{display:block}@media only screen and (min-width: 40em){.intro-collage-row{margin:60px 0 60px 0}}.intro-collage-row img{min-width:340px}.intro-collage-img{width:calc(100% - 60px);float:left;margin-left:30px}@media only screen and (min-width: 40em){.intro-collage-img{width:calc(50% - 7.5%);float:left;margin-left:5%}}@media only screen and (min-width: 40em){.intro-collage-img #intro-1{transform:translate(-30px, -120px)}}@media only screen and (min-width: 40em){.intro-collage-img #intro-2{transform-origin:left bottom;transform:scale(1.25)}}@media only screen and (min-width: 40em){.intro-collage-img .image-breakout-alt-wrap:before{left:0;transform:translate(-30px, 30px)}}@media only screen and (min-width: 40em){.intro-collage #intro-3{transform:translate(120px, 0)}}.amenities-main .container{background-color:#c3a777}.amenities-main .row{display:flex;flex-direction:column}.amenities-main .row:first-child{flex-direction:column-reverse}@media only screen and (min-width: 40em){.amenities-main .row{flex-direction:row !important}}.amenities-main-list{display:flex;flex-direction:column;justify-content:center;width:100%;padding:inherit 30px;color:#fff}@media only screen and (min-width: 40em){.amenities-main-list{width:50%}}.amenities-main-list ul{margin:60px 0;padding:0;list-style:none}.amenities-main-image{width:100%;min-height:550px;margin-left:0;background-position:center center;background-size:cover}@media only screen and (min-width: 40em){.amenities-main-image{width:50%}}.amenities-main-image#amenity-image-1{background-image:url("../images/assets/otto-amenity-bed.jpg")}.amenities-main-image#amenity-image-2{background-image:url("../images/assets/otto-amenity-bed.jpg")}.floorplan{background-color:#e6e5e5}.fp-app{display:flex;flex-direction:column;width:100%}@media only screen and (min-width: 62em){.fp-app{flex-direction:row}}.fp-app-sidebar{width:calc(100% - 60px);float:left;margin-left:30px;display:inline;margin:0 30px 60px 30px;border-top:1px solid #565656}@media only screen and (min-width: 40em){.fp-app-sidebar{width:calc(50% - 7.5%);float:left;margin-left:5%;margin-left:calc(25% - 6.25% + 10%)}}@media only screen and (min-width: 62em){.fp-app-sidebar{width:calc(41.6666666667% - 7.0833333333%);float:left;margin-left:5%}}@media only screen and (min-width: 75em){.fp-app-sidebar{width:calc(25% - 6.25%);float:left;margin-left:5%}}.fp-app-sidebar-item{padding:15px 30px;border-left:1px solid #565656;border-right:1px solid #565656;border-bottom:1px solid #565656;transition:all 300ms ease;cursor:pointer}.fp-app-sidebar-item:hover,.fp-app-sidebar-item:focus{background-color:#fff}.fp-app-sidebar-item h5{margin:0}.fp-app-sidebar a{color:#565656}.fp-app-content{display:flex;flex-direction:column;padding:60px 0 30px 0;background-color:#fff}@media only screen and (min-width: 48em){.fp-app-content{flex-direction:row}}.fp-app-content-floorplan{width:calc(100% - 60px);float:left;margin-left:30px}@media only screen and (min-width: 48em){.fp-app-content-floorplan{width:calc(50% - 45px);float:left;margin-left:30px}}.fp-app-content-copy{width:calc(100% - 60px);float:left;margin-left:30px}@media only screen and (min-width: 48em){.fp-app-content-copy{width:calc(50% - 45px);float:left;margin-left:30px}}.fp-app-content-copy a{color:#c3a777}.story-row{display:flex;flex-direction:column;margin-top:6rem}@media only screen and (min-width: 40em){.story-row{flex-direction:row}}@media only screen and (min-width: 40em){.story-row:last-child{flex-direction:row-reverse}}.story-img{width:100%;margin-bottom:30px}@media only screen and (min-width: 40em){.story-img{width:50%}}.story-entry{padding:0 30px}@media only screen and (min-width: 40em){.story-entry{width:50%}}.story-entry h5{padding:30px 0}.story-entry-logo{width:140px;margin:30px 0}#story-img-app{position:relative}#story-img-app img{position:absolute}.location-main{background-color:#e6e5e5}.location-main .content-block{position:relative}.location-main .content-block h2{position:relative;z-index:10}@media only screen and (min-width: 40em){.location-main .content-block h2{margin-bottom:6rem}}@media only screen and (min-width: 40em){.location-main .content-block img{width:calc(50% - 45px);float:left;margin-left:30px;margin-left:calc(50% - 7.5% + 10%);position:absolute;top:0}}.location-main-body{width:calc(100% - 60px);float:left;margin-left:30px;position:relative;z-index:10}@media only screen and (min-width: 40em){.location-main-body{width:calc(50% - 7.5%);float:left;margin-left:5%}}.location-main-body span{font-weight:700}.location-sub .container .location-sub-item{width:calc(100% - 60px);float:left;margin-left:30px;margin-top:30px}@media only screen and (min-width: 40em){.location-sub .container .location-sub-item{width:calc(50% - 7.5%);float:left;margin-left:5%}}.location-sub ul{margin-left:0px;padding-left:0px;list-style:none;list-style-position:inside}.location-sub ul span{font-weight:700}.location-slider{display:flex;align-items:center;justify-content:space-between;width:100%;overflow:hidden}.location-slider-cell{height:450px;background-position:center center;background-size:cover}.location-slider-cell:first-child{width:1000px}.location-slider-cell:last-child{width:200px}.location-slider-controls{padding:0 30px}.plan-title{position:relative;z-index:-1}.plan-title h1{color:#e6e5e5;font-size:9vw;margin-bottom:-2.143vw}.plan-main{background-color:#565656;color:#fff}.plan-slider-title{position:relative;width:50%;height:3.33em;color:#c3a777;z-index:10}.plan-slider-content>div{position:relative;min-height:90px}@media only screen and (min-width: 40em){.plan-slider-content>div{height:300px}}.plan-slider-content-count{width:calc(100% - 40px);float:left;margin-left:20px}@media only screen and (min-width: 40em){.plan-slider-content-count{width:calc(8.3333333333% - 5.4166666667%);float:left;margin-left:5%}}.plan-slider-content-count h6{position:absolute;bottom:0}.plan-slider-content-img{width:calc(100% - 40px);float:left;margin-left:20px}@media only screen and (min-width: 40em){.plan-slider-content-img{width:calc(58.3333333333% - 7.9166666667%);float:left;margin-left:5%}}.plan-slider-content-img img{width:100%;object-fit:cover;object-position:center center}.plan-slider-content-copy{width:calc(100% - 40px);float:left;margin-left:20px;position:relative}@media only screen and (min-width: 40em){.plan-slider-content-copy{width:calc(33.3333333333% - 6.6666666667%);float:left;margin-left:5%}}.plan-slider-content-copy div{position:absolute;display:inline-block;bottom:-30px}@media only screen and (min-width: 40em){.plan-slider-content-copy div{bottom:0}}.plan-slider-content-copy div span{margin-right:15px;padding:5px;cursor:pointer}.plan-slider-content-copy div span:last-child img{transform:rotate(180deg)}.plan-slider-content-copy div span img{width:20px}
>>>>>>> 928d19635a15ad328cb1aaf3e570a6306784dad7
