.floorplan {
    background-color: $light-gray;
}

.fp-app {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include grid-media($grid-large) {
        flex-direction: row;
    }

    &-sidebar {
        @include grid-column(12, $grid);
        @include grid-media($grid-small) {
            @include grid-column(6);
            @include grid-push(3);
        }
        @include grid-media($grid-large) {
            @include grid-column(5);
        }
        @include grid-media($grid-xlarge) {
            @include grid-column(3);
        }

        display: inline;
        margin: 0 $spacing $spacing*2 $spacing;
        border-top: 1px solid $brand-charcoal;

        &-item {
            padding: $spacing/2 $spacing;
            border-left: 1px solid $brand-charcoal;
            border-right: 1px solid $brand-charcoal;
            border-bottom: 1px solid $brand-charcoal;
            transition: all 300ms ease;
            cursor: pointer;

            &:hover, &:focus {
                background-color: lighten($light-gray, 10%);
            }

            h5 {
                margin: 0;
            }
        }
        a {
            color: $brand-charcoal;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        padding: $spacing*2 0 $spacing 0;
        background-color: $white;

        @include grid-media($grid-medium) {
            flex-direction: row;
        }

        &-floorplan {
            @include grid-column(12, $grid);
            @include grid-media($grid-medium) {
                @include grid-column(6, $grid);
            }
        }
        &-copy {
            @include grid-column(12, $grid);
            @include grid-media($grid-medium) {
                @include grid-column(6, $grid);
            }

            a {
                color: $brand-gold;
            }
        }
    }
}