.location {
    
    &-main {
        background-color: $light-gray;

        .content-block {
            position: relative;

            h2 {
                position: relative;
                z-index: 10;

                @include grid-media($grid-small) {
                    margin-bottom: 6rem;
                }
            }
            img {

                @include grid-media($grid-small) {
                    @include grid-column(6, $grid);
                    @include grid-push(6);

                    position: absolute;
                    top: 0;
                }
            }
        }
        &-body {
            @include grid-column(12, $grid);

            position: relative;
            z-index: 10;

            @include grid-media($grid-small) {
                @include grid-column(6);
            }

            span {
                font-weight: $font-bold-weight;
            }
        }
    }
    &-sub {

        .container {

                .location-sub-item {
                    @include grid-column(12, $grid);
                    @include grid-media($grid-small) {
                        @include grid-column(6);
                    }

                    margin-top: $spacing;
                }
        }
        ul {
            margin-left: 0px;
            padding-left: 0px;
            list-style: none;
            list-style-position: inside;

            span {
                font-weight: $font-bold-weight;
            }
        }
    }

    &-slider{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;

        &-cell {
            height: 450px;
            background-position: center center;
            background-size: cover;

            &:first-child {
                width: 1000px;
            }
            &:last-child {
                width: 200px;
            }
        }
        &-controls {
            padding: 0 $spacing;

            div{
                width: 20px;
                margin: 0 auto;
                transition: all .4s $ease;
                svg{
                    .cls-1{
                        fill: $brand-charcoal;
                        transition: all .4s $ease;
                    }
                }
            }
            div:hover{
                svg{
                    .cls-1{
                        fill: $brand-gold;
                    }
                }
            }

            div:nth-child(2){
                transform: scaleX(-1);

            }

        }
    }
}