/*
 * Site Footer
 *
 * This file contains styles that are specific to the site footer.
 *
 *****************************************************************************/


.site-footer {

}

.pre-footer {
    background-color: $brand-blue;
    background-image: url('../images/ui/otto-pattern.svg');
    background-size: 10vw;

    &-content {
        background-color: $brand-blue;

        img {
            padding: $spacing*2 $spacing;
        }
    }
}

.footer {
    background-color: $brand-charcoal;
    color: $white;

    .container {
        .content-block {
            @include grid-column(12, $grid);
            @include grid-media($grid-small) {
                @include grid-column(6);
            }
            @include grid-media($grid-large) {
                @include grid-column(4);
            }

            &:first-child {
                @include grid-media($grid-small) {
                    @include grid-column(12);
                }
                @include grid-media($grid-large) {
                    @include grid-column(4);
                }

                margin-bottom: $spacing;

                img {
                    max-width: 120px;
                    margin-bottom: $spacing;
                }
            }
            &:last-child {
                .btn {
                    position: relative;
                    margin-bottom: $spacing/2;

            //moved this styling to be global for all buttons in footer.scss
                }
            }

            .btn {
                a {
                    color: $white;
                }
            }
            .footer-social {
                margin: $spacing 0;
                font-family: $font-btn;
                a {
                    @include responsive-font-size(type-scale(size-2));

                    color: $white;
                    letter-spacing: 0.15em;
                    text-transform: uppercase;
                }
            }
            svg {
                width: 140px;
            }
        }
    }
}