/*
 * Site Header
 *
 * This file contains styles that are specific to the site header.
 *
 *****************************************************************************/


.hero {
    background-color: $brand-charcoal;
    color: $white;

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: $spacing 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.33);

        .nav-item {

            padding: $spacing/4 $spacing;

            &.nav-logo {
                margin-right: auto;
                img {width: 100px;}
            }
            &.nav-solid {
                transition: .2s all ease-in-out;
                // background-color: $brand-gold;
                border: 1px solid rgba(0,0,0,0);
                box-shadow: inset 200px 0px $brand-gold;


                

                &:hover{
                    // background-color: rgba(0,0,0,0);
                    border: 1px solid $white;
                    box-shadow: inset 0px 0px $brand-gold;
                    
                    a{
                        color: $brand-gold;
                    }
                }

            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
    }
}

.link-item a{
    transition: all .3s ease-out;
    //other styling in typography.scss
    &:hover {
        color: $brand-gold;
    }
}

.hero-content-slider {
    &-cell {

        img {
            height: 350px;
            object-fit: cover;
            object-position: center center;
        }
    }
    &-ctrl {
        display: flex;
        justify-content: space-around;
        
        div {
            padding: $spacing $spacing/2 0 $spacing/2;

            &:hover {
                color: $brand-gold;
            }
        }
    }
}

a[ id= "floorplan" ]:target ~ .page-content div.section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}