/*
 * Site Header
 *
 * This file contains styles that are specific to the site header.
 *
 *****************************************************************************/


 .hero {
    background-color: $brand-charcoal;
    color: $white;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: $spacing 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.33);

        @include grid-media($grid-medium) {
            flex-direction: row;
        }

        .nav-item {
            padding: $spacing/4 $spacing/2;

            @include grid-media($grid-large) {
                padding: $spacing/4 $spacing;
            }

            &:last-child {
                @include grid-media($grid-medium) {
                    margin-right: $spacing/2;
                }
            }

            &.nav-logo {
                margin: auto;
                margin-right: auto;
                img {width: 100px;}
            }
            &.nav-solid {
                transition: .4s all $ease;
                // background-color: $brand-gold;
                border: 1px solid $brand-gold;
                box-shadow: inset 200px 0px $brand-gold;
                text-align: center;

                &:hover{
                    // background-color: rgba(0,0,0,0);

                    box-shadow: inset 0px 0px $brand-gold;
                    

                }

            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
    }
}

.link-item:not(.nav-solid) a{
    transition: all .3s $ease;
    //other styling in typography.scss
    &:hover {
        color: $brand-gold;
    }
}

.nav-solid a {
    color: white;
}

.hero-content {
    display: flex;
    flex-direction: column;

    @include grid-media($grid-medium) {
        flex-direction: row;
    }

    &-slider, &-copy {
        margin: $spacing/2;  
        
        @include grid-media($grid-medium) { 
            width: 50%;
            margin: $spacing*2 0;
        }
    }
    &-slider {

        &-cell {

            img {
                height: 450px;
                object-fit: cover;
                object-position: center center;

                @include grid-media($grid-small) {
                    width: 100%;
                }
                @include grid-media($grid-medium) {
                    height: 350px;
                }
            }
        }
        &-ctrl {
            display: flex;
            justify-content: space-around;
            
            div {
                padding: $spacing $spacing/2 0 $spacing/2;

                &:hover {
                    color: $brand-gold;
                }
            }
        }
    }
    &-copy {
        padding: $spacing;

        @include grid-media($grid-large) { 
            width: 50%;
            padding: 0 $spacing;
        }

        h1 {
            padding: $spacing 0;

            @include grid-media($grid-large) {
                min-height: 420px;
                padding: 0;
            }
        }
    }
}

a[ id= "floorplan" ]:target ~ .page-content div.section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}