/*
 * Buttons
 *
 * This file contains all styles related to the button component.
 *
 *****************************************************************************/


 .btn {
    position: relative;

    a {
        position: relative;
        display: block;
        width: 100%;
        font-family: $font-btn;
        @include responsive-font-size(type-scale(size-1));
        color: $text-color;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        transform: translate(30px);
        transition: all 500ms 100ms $ease;

        &:before {
            content: '→';
            position: absolute;
            color: inherit;
            transform: translate(-30px);
            transition: all 300ms 100ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
        }
        &:hover {
            transform: translate(0px);

            &:before {
                opacity: 0;
                transform: translate(0px);
            }
        }
    }

}



.btn {
    &:after {
        content: '';
        position: absolute;
        width: 75px; height: 1px;
        background-color: $white;
    }
}

.story{
    .btn{
        &:after {
            background-color: $brand-charcoal;
        } 
    }
}



.text-center{
    .btn{
        a{
            transform: translate(0px);

            &:before {
                transition: all 400ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 0px; height: 1px;
            background-color: $brand-charcoal;
            left: 50%;
            margin-left: -37.5px;
            transition: .3s all $ease;
        }
        &:hover{
            &:after {
                content: '';
                position: absolute;
                width: 75px; height: 1px;
                background-color: $brand-charcoal;
                left: 50%;
                margin-left: -37.5px;
                transition: .3s all $ease .5s;
            }
        }

    }

}

.btn.text-center{

        a{
            transform: translate(0px);
            &:before {
                transition: all 400ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 0px; height: 1px;
            background-color: $brand-charcoal;
            left: 50%;
            margin-left: -37.5px;
            transition: .3s all $ease;
        }
        &:hover{
            &:after {
                content: '';
                position: absolute;
                width: 75px; height: 1px;
                background-color: $brand-charcoal;
                left: 50%;
                margin-left: -37.5px;
                transition: .3s all $ease .5s;
            }
        }


}

