/*
 * Buttons
 *
 * This file contains all styles related to the button component.
 *
 *****************************************************************************/


 .btn {
    a {
        font-family: $font-btn;
        @include responsive-font-size(type-scale(size-1));
        color: $text-color;
        text-transform: uppercase;
        letter-spacing: 0.12em;
    }
}